*, *::after, *::before {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background-color: var(--light-color);
    scroll-behavior: smooth;
}

div.main-container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
}

body {
  font-family: "Ubuntu Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body a {
    -webkit-tap-highlight-color: transparent; /* Para quitar el sombreado en celulares */
    text-decoration: none;
}

:root {
  --light-color: #F8F3D9;
  --light2-color: #3F4F44;
  --dark-color: #6B5B95;
  --dark2-color: #355C7D;
  --foreground-brown-color: #504B38;
  --bars-gap: 5px;
  --bar-width: 30px;
  --bar-height: 4px;
  --transition-timing: 200ms ease-in-out;
  --menu-height: calc(var(--bar-height) * 3 + var(--bars-gap) * 2);
}

/*HEADER---------------------------------------------------------------------------------------*/ 

header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 20px;    
}

label.menu {
    --new-bars-width:  calc(var(--menu-height) * 1.4);

    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--bars-gap);
    width: max-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;  
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Para quitar el sombreado en celulares */
}

label.menu::before, label.menu::after, label.menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    border-radius: 10px;
    transform-origin: left center;
    transition: opacity var(--transition-timing), width var(--transition-timing), transform var(--transition-timing), background-color var(--transition-timing);
}

label.menu.brown-color::before, label.menu.brown-color::after, label.menu.brown-color input {
    background-color: var(--foreground-brown-color);
}

label.menu.light-color::before, label.menu.light-color::after, label.menu.light-color input {
    background-color: var(--light-color);
}

label.menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

label.menu input:checked {
    opacity: 0;
    width: 0;    
}

label.menu:has(input:checked)::before {
    transform: rotate(45deg) translateY(calc(var(--bar-height) / -2));
    width: var(--new-bars-width);
}

label.menu:has(input:checked)::after {
    transform: rotate(-45deg) translateY(calc(var(--bar-height) / 2));
    width: var(--new-bars-width);
}

div.menu-buttons-container {
    position: absolute;
    left: calc(var(--bar-width) + 25px);
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity var(--transition-timing), color var(--transition-timing), border-color var(--transition-timing);
}

div.menu-buttons-container a.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 10px;
    width: 40px;
    height: 20px;;
    pointer-events: none;
}

div.menu-buttons-container.brown-color a.menu-button {
    color: var(--light-brown-color);
    border: solid 1px var(--foreground-brown-color);
}

div.menu-buttons-container.light-color a.menu-button {
    color: var(--light-color);
    border: solid 1px var(--light-color);
}

label.menu:has(input:checked) ~ div.menu-buttons-container {
    opacity: 1;
}

label.menu:has(input:checked) ~ div.menu-buttons-container a{
    pointer-events: all;
}

label.darkmode-button-container {
    position: relative;
    display: flex;
    width: 40px;
    height: 20px;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
    padding: 5px 0px 5px 0px;
    transition: background-color var(--transition-timing);
    outline: none;  
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Para quitar el sombreado azul en celulares */
}

label.darkmode-button-container.brown-color {
    background-color: var(--foreground-brown-color);
}

label.darkmode-button-container.light-color {
    background-color: var(--light-color);
}

label.darkmode-button-container.brown-color input {
    position: absolute;
    left: -2px;
    top: calc(50% - 10.5px);
    appearance: none;   
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: transform var(--transition-timing), background-color var(--transition-timing);
    z-index: 2;
    position: absolute;
    cursor: pointer;
    outline: none;
    pointer-events: none;
}

label.darkmode-button-container.brown-color input {
    background-color: var(--light-color);
}

label.darkmode-button-container.light-color input {
    background-color: var(--light-brown-color);
}

label.darkmode-button-container::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    background-image: url("icons/dark-mode.svg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    left: 64%;
}

label.darkmode-button-container::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    background-image: url("icons/light-mode.svg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    left: 1px;
}

label.darkmode-button-container:has(input:checked) {
    background-color: var(--light-color);
    border: solid 1px var(--foreground-brown-color);
    /* pediente!!! Cambiar colores a los del darkmode */
}

label.darkmode-button-container:has(input:checked) input {
    transform: translateX(calc(150% - 2.5px));
    background-color: var(--foreground-brown-color);
}

div.logo-container {
    display: none;
    width: 40px;
    height: 40px;
    background-image: url("icons/logo-small.svg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity var(--transition-timing);
}

div.logo-container.hidden {
    opacity: 0;    
}

@media screen and (min-width: 360px) {
    header {
        justify-content: space-between;        
    }

    div.logo-container {
        display: inline-block;
    }
}

/*MAIN-TEXT_HOME-------------------------------------------------------------------------------*/ 

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100vh;
    text-align: center;
    padding: 40px 20px 80px 20px;
    scroll-snap-align: start;
}

section#home {
    justify-content: center;
    background-color: var(--light-color);
    height: 100vh;
    color: var(--foreground-brown-color);
}

div.main-logo{
    display: inline-block;
    width: 185px;
    height: 185px;
    background-image: url("icons/logo-small.svg");
    background-size: cover;
    background-position: center;   
}

div.hr {
    width: 90%;
    height: 2.5px;
    background-color: var(--foreground-brown-color);
}

div.hr::before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(5% + 7.5px);
    content: "";
    width: 15px;
    height: 350px;
    background-image: url("icons/arrow-deco.svg");
    background-size: cover;
    background-position: center;    
}

h1 {
    text-align: center;
    font-weight: 400;
}

div.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;    
}

a.button {
    display: flex;
    width: 90px;
    height: 30px;
    color: var(--foreground-brown-color);
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 1.5px var(--foreground-brown-color);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    user-select: none;
}

a.section-changer {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   gap: 5px;
   color: var(--foreground-brown-color);
   cursor: pointer;
}

a.section-changer-dark {
    margin-top: 100px; 
    color: var(--foreground-brown-color);    
}

a.section-changer div{
    width: 31px;
    height: 17px;
    background-size: cover;
    background-position: bottom;    
}


a.section-changer-dark div{
    background-image: url("icons/keyboard-arrow-down-brown.svg");
}

@media screen and (min-width: 360px) {
    section#home {
        height: 100vh;
    }

    div.hr {
        top: 270px;
    }
}

/* projects section ---------------------------------------------------------------------------*/

section#projects {
    height: auto;
    background-color: var(--light2-color);
    color: var(--light-color);
    text-align: center;
    padding: 40px 20px 100px 20px;
}

section#projects p {
    margin-top: 50px;
    max-width: 480px;
}

section#projects p:nth-child(2) {
    margin: 30px 0px 40px 0px;
}

a.section-changer-light {
    margin-top: 80px;
    color: var(--light-color);
}

a.section-changer-light div {
    background-image: url("icons/keyboard-arrow-down-light-color.svg");
}

div.project-card {
    position: relative;
    width: 85%;
    max-width: 280px;
    height: 200px;
    margin-top: 45px;
}

div.project-card .face {
    position: absolute; 
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backface-visibility: hidden;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

div.project-card .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transform: perspective(800px) rotate(0deg);
}

div.project-card .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    transform: perspective(800px) rotateY(180deg);
}

div.project-card .back img {
    margin-bottom: 5px;
}

div.project-card .back .card-button {
    width: 140px;
    height: 35px;
}

div.project-card .back .card-button:first-of-type {
    margin-bottom: 5px;    
}

div.project-card.flipped .front{
    transform: perspective(800px) rotateY(180deg);
}

div.project-card.flipped .back{
    transform: perspective(800px) rotateY(360deg);
}

/* abilities section -------------------------------------------------------------------------*/

section#abilities {
    background-color: var(--light-color);
    color: var(--foreground-brown-color);
    text-align: center;
}

section#abilities p {
    max-width: 480px;
}

section#abilities p:last-child {
    text-align: left;
}

div.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px 0px;
}

div.icon, a.icon {
    width: 32px;
    height: 32px;
    background-size: cover;
}

div.js {
    background-image: url("icons/js-icon.svg");
}

div.react {
    background-image: url("icons/react-icon.svg");
}

div.r {
    background-image: url("icons/r-icon.svg");
}

div.c {
    background-image: url("icons/c-icon.svg");
}

div.python {
    background-image: url("icons/python-icon.svg");
}

div.cpp {
    background-image: url("icons/cpp-icon.svg");
}

div.java {
    background-image: url("icons/java-icon.svg");
}

div.scss {
    background-image: url("icons/scss-icon.svg");
}

div.css {
    background-image: url("icons/css-icon.svg");
}

div.html {
    background-image: url("icons/html-icon.svg");
}

div.figma {
    background-image: url("icons/figma-icon.svg");
}

/* last-part section --------------------------------------------------------------------------*/

section#last-part {
    position: relative;
    justify-content: center;
    background-color: var(--light2-color);
    color: var(--light-color);
}

section#last-part a.button {
    color: var(--light-color);
    border: solid 1.5px var(--light-color);
    margin-top: 30px;
}

section#last-part a.section-changer div {
    transform: rotateX(180deg);
}

/* contact section -----------------------------------------------------------------------------*/

section#contact {
    position: relative;
    justify-content: center;
    background-color: var(--light2-color);
    color: var(--light-color);
    max-height: 100vh;
}

section#contact div.icons-container {
    gap: 20px;
}

section#contact p:first-child {
    line-height: 50px;
}

a.wa {
    background-image: url("icons/whatsapp-icon.svg");
}

a.mail {
    background-image: url("icons/mail-icon.svg");
}

a.instagram {
    background-image: url("icons/instagram-icon.svg");
}

a.github {
    background-image: url("icons/github-icon.svg");
}

span.copy-right {
    position: absolute;
    bottom: 50px;
    font-size: 10px;
    color: var(--light-color);
    opacity: 0.6;
}

/* dronesim-info section -----------------------------------------------------------------------------*/

section.project-info {
    position: relative;
}

section.project-info h2 {
    margin-top: 60px;
    color: var(--foreground-brown-color);
}

section.project-info span.copy-right {
    text-align: center;
    color: var(--foreground-brown-color);
}

section.project-info p {
    max-width: 480px;
    margin: 60px 0px;
    text-align: justify;
}

section.project-info a.button {
    width: 160px;
    height: 40px;
}

div.img-presentator-container {
    display: flex;;
    width: 100%;
    max-width: 430px;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 20px 0px 5px 0px;
}

div.arrow {
    display: none;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

div.left-arrow {
    background-image: url("icons/keyboard-arrow-down-brown.svg");
    transform: rotate(90deg);
}

div.right-arrow {
    background-image: url("icons/keyboard-arrow-down-brown.svg");
    transform: rotate(-90deg);
}

div.images-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    width: 280px;
    height: 200px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0px auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge */
}

div.imges-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
}

div.images-wrapper div.img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
}

div#first-img {
    background-image: url("imgs/dronesim-img-1.png");
}

div#img-2 {
    background-image: url("imgs/dronesim-img-2.png");
}

div#last-img {
    background-image: url("imgs/dronesim-img-3.png");
}

div.radio-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

div.radio-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--foreground-brown-color);
    cursor: pointer;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.3;
}

div.radio-button.active {
    opacity: 1;
}

div.arrow.unenabled {
    opacity: 0.3;
}

section.project-info div.video-container {
    position: relative;
    width: 280px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

section.project-info video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;    
}

section.project-info div.video-container div.controls {
    position: absolute;
    z-index: 2;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    background-image: url("icons/play-circle-icon.svg");
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 350ms ease-out;
}

section.project-info div.video-container div.controls.playing {
    background-image: url("icons/pause-circle-icon.svg");
    opacity: 0;
}

/* section.project-info div.video-container:hover div.controls.playing {
    background-image: url("icons/pause-circle-icon.svg");
    opacity: 0.5;
} */

section.project-info div.video-container div.controls.paused {
    background-image: url("icons/play-circle-icon.svg");
    opacity: 0.5;
}

section.project-info div.video-container div.controls.show {
    opacity: 0.5;
}

/* section.project-info div.video-container div.controls.hidden {
    opacity: 0;
} */

section.project-info div.video-bottom {
    display: flex;
    width: 105%;
    max-width: 305px;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

section.project-info div.video-bottom div.video-duration-bar {
    position: relative;
    width: 240px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.25);
}

.video-progress-bar {
    width: 0;
    height: 100%;
    background-color: #000;
    border-radius: 5px;
    transition: width 0.2s linear;
  }

section.project-info div.video-bottom div.smallerControls {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("icons/play-icon.svg");
    background-size: cover;
}

section.project-info div.video-bottom div.smallerControls.playing {
    background-image: url("icons/pause-icon.svg");
}

section.project-info div.video-bottom div.smallerControls.paused {
    background-image: url("icons/play-icon.svg");
}

section.project-info div.video-bottom div.time {
    content: attr(data-time);
    font-size: 10px;
}

@media screen and (min-width: 400px) {
    div.arrow {
        display: inline-block;
    }
}